/.ipynb_checkpoints
/.vscode
/build_fasta_from_uniprot.ipynb
/copy_number_distribution_human_mouse.xlsx
/copy_number_distribution_human_mouse_103.xlsx
/copy_number_distribution_human_mouse_105.xlsx
/diamond.exe
/human_105_copy_number_plot.html
/human_copy_number_distribution.xlsx
/human_copy_number_plot.html
/human_mouse_105_copy_number_plot.html
/human_mouse_105_searchable_copy_number_plot.html
/human_proteins.fasta
/human_vs_mouse_db.tsv
/mouse_105_copy_number_plot.html
/mouse_copy_number_distribution.xlsx
/mouse_copy_number_plot.html
/mouse_db.dmnd
/mouse_proteins.fasta
/old_copy_number_distribution_human_mouse.xlsx
/uniprot_fasta.txt